In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sktime
from functools import reduce
from sktime.utils.data_io import make_multi_index_dataframe
#from sktime.datasets import make_multi_index_dataframe

from sktime.datatypes._panel._convert import (
    from_multi_index_to_nested,
    from_nested_to_multi_index,
)
from sktime.datatypes._panel._convert import (
    from_2d_array_to_nested,
    from_nested_to_2d_array,
    is_nested_dataframe,
)
from sktime.transformations.series.impute import Imputer
from sktime.utils.plotting import plot_series

In [2]:
! pip install -q scikit-plot

In [3]:
dfs = []
files = ['Humidity.csv', 'Temperature.csv', 'Speed.csv', 'PM25.csv', 'PM10.csv', 'PM1.csv', 'NO2.csv', 'BC.csv']
for file in files:
    dfs.append(pd.read_csv(file, header=None))

i=0
for df in dfs:
    if(i == 0):
        for i in range(10,107089):
            df[1][1] = i%5
    else:
        for i in range(0,108330):
            df[1][1] = i%5

<ipython-input-3-158da3c9a0aa>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[1][1] = i%5
<ipython-input-3-158da3c9a0aa>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[1][1] = i%5

In [4]:
for df in dfs:
    df.set_index([0,1], drop = True, inplace=True)

In [5]:
Data = reduce(lambda df_left, df_right:
              pd.merge(df_left, df_right, left_index = True, right_index=True, how='inner'), dfs).fillna(np.nan)

In [6]:
Data.head()

     2_x        3_x  2_y        3_y  2_x       3_x  2_y        3_y  2_x  \
0 1
1 1    1  33.150299    1  22.197498    1  2.462158    1  13.870337    1
  3    1  34.401165    1  21.357515    1  1.325296    1   9.991866    1
  3    1  37.415337    1  21.357515    1  1.325296    1   9.991866    1
  4    1  30.813028    1  21.434500    1  1.391495    1   9.501741    1
  4    1  30.813028    1  21.434500    1  1.391495    1   9.501741    1

           3_x  2_y        3_y  2_x        3_x  2_y          3_y
0 1
1 1  15.553252    1  15.255033    1  17.053141    1  1420.644653
  3  12.053303    1   9.288092    1  13.668032    1  1269.569824
  3  12.053303    1   9.288092    1  13.668032    1  1269.569824
  4  10.985834    1   9.530611    1  14.616917    1   830.216370
  4  10.985834    1   9.530611    1  14.616917    1   939.157471

In [7]:
#renommage des colones
Data.columns=['Activity','Humidity','Activity_Temp','Temperature','Activity_speed','Speed','Activity_PM2.5','PM2.5','Activity_PM1.0','PM1.0','Activity_PM10','PM10','Activity_NO2','NO2','Activity_BC','BC']

In [8]:
Data.head()

     Activity   Humidity  Activity_Temp  Temperature  Activity_speed  \
0 1
1 1         1  33.150299              1    22.197498               1
  3         1  34.401165              1    21.357515               1
  3         1  37.415337              1    21.357515               1
  4         1  30.813028              1    21.434500               1
  4         1  30.813028              1    21.434500               1

        Speed  Activity_PM2.5      PM2.5  Activity_PM1.0      PM1.0  \
0 1
1 1  2.462158               1  13.870337               1  15.553252
  3  1.325296               1   9.991866               1  12.053303
  3  1.325296               1   9.991866               1  12.053303
  4  1.391495               1   9.501741               1  10.985834
  4  1.391495               1   9.501741               1  10.985834

     Activity_PM10       PM10  Activity_NO2        NO2  Activity_BC  \
0 1
1 1              1  15.255033             1  17.053141            1
  3              1   9.288092             1  13.668032            1
  3              1   9.288092             1  13.668032            1
  4              1   9.530611             1  14.616917            1
  4              1   9.530611             1  14.616917            1

              BC
0 1
1 1  1420.644653
  3  1269.569824
  3  1269.569824
  4   830.216370
  4   939.157471

In [9]:
Data.replace(np.nan,9999, inplace = True)

In [10]:
Data.head()

     Activity   Humidity  Activity_Temp  Temperature  Activity_speed  \
0 1
1 1         1  33.150299              1    22.197498               1
  3         1  34.401165              1    21.357515               1
  3         1  37.415337              1    21.357515               1
  4         1  30.813028              1    21.434500               1
  4         1  30.813028              1    21.434500               1

        Speed  Activity_PM2.5      PM2.5  Activity_PM1.0      PM1.0  \
0 1
1 1  2.462158               1  13.870337               1  15.553252
  3  1.325296               1   9.991866               1  12.053303
  3  1.325296               1   9.991866               1  12.053303
  4  1.391495               1   9.501741               1  10.985834
  4  1.391495               1   9.501741               1  10.985834

     Activity_PM10       PM10  Activity_NO2        NO2  Activity_BC  \
0 1
1 1              1  15.255033             1  17.053141            1
  3              1   9.288092             1  13.668032            1
  3              1   9.288092             1  13.668032            1
  4              1   9.530611             1  14.616917            1
  4              1   9.530611             1  14.616917            1

              BC
0 1
1 1  1420.644653
  3  1269.569824
  3  1269.569824
  4   830.216370
  4   939.157471

In [11]:
Data.dtypes

Activity            int64
Humidity          float64
Activity_Temp       int64
Temperature       float64
Activity_speed      int64
Speed             float64
Activity_PM2.5      int64
PM2.5             float64
Activity_PM1.0      int64
PM1.0             float64
Activity_PM10       int64
PM10              float64
Activity_NO2        int64
NO2               float64
Activity_BC         int64
BC                float64
dtype: object

In [12]:
cols = [2,4,6,8,10,12,14]
Data.drop(Data.columns[cols], axis=1, inplace = True)

In [13]:
Data.head()

     Activity   Humidity  Temperature     Speed      PM2.5      PM1.0  \
0 1
1 1         1  33.150299    22.197498  2.462158  13.870337  15.553252
  3         1  34.401165    21.357515  1.325296   9.991866  12.053303
  3         1  37.415337    21.357515  1.325296   9.991866  12.053303
  4         1  30.813028    21.434500  1.391495   9.501741  10.985834
  4         1  30.813028    21.434500  1.391495   9.501741  10.985834

          PM10        NO2           BC
0 1
1 1  15.255033  17.053141  1420.644653
  3   9.288092  13.668032  1269.569824
  3   9.288092  13.668032  1269.569824
  4   9.530611  14.616917   830.216370
  4   9.530611  14.616917   939.157471

In [14]:
Data.dtypes

Activity         int64
Humidity       float64
Temperature    float64
Speed          float64
PM2.5          float64
PM1.0          float64
PM10           float64
NO2            float64
BC             float64
dtype: object

In [15]:
Data.head()

     Activity   Humidity  Temperature     Speed      PM2.5      PM1.0  \
0 1
1 1         1  33.150299    22.197498  2.462158  13.870337  15.553252
  3         1  34.401165    21.357515  1.325296   9.991866  12.053303
  3         1  37.415337    21.357515  1.325296   9.991866  12.053303
  4         1  30.813028    21.434500  1.391495   9.501741  10.985834
  4         1  30.813028    21.434500  1.391495   9.501741  10.985834

          PM10        NO2           BC
0 1
1 1  15.255033  17.053141  1420.644653
  3   9.288092  13.668032  1269.569824
  3   9.288092  13.668032  1269.569824
  4   9.530611  14.616917   830.216370
  4   9.530611  14.616917   939.157471

In [16]:
Data.columns

Index(['Activity', 'Humidity', 'Temperature', 'Speed', 'PM2.5', 'PM1.0',
       'PM10', 'NO2', 'BC'],
      dtype='object')

In [17]:
X_nested = from_multi_index_to_nested(Data[['Activity', 'Humidity', 'Temperature',
       'Speed', 'PM2.5','PM1.0', 'PM10', 'NO2', 'BC']], instance_index=0)
print(f"X_nested is a nested DataFrame: {is_nested_dataframe(X_nested)}")
print(f"The cell contains a {type(X_nested.iloc[0,0])}.")
print(f"The nested DataFrame has shape {X_nested.shape}")

X_nested is a nested DataFrame: True
The cell contains a <class 'pandas.core.series.Series'>.
The nested DataFrame has shape (21021, 9)

In [18]:
X_nested

,Activity,Humidity,Temperature,Speed,PM2.5,PM1.0,PM10,NO2,BC
0,1 1 3 1 3 1 4 1 4 1 .. 4 ...,1 33.150299 3 34.401165 3 37.415337 4...,1 22.197498 3 21.357515 3 21.357515 4...,1 2.462158 3 1.325296 3 1.325296 4 ...,1 13.870337 3 9.991866 3 9.991866 4...,1 15.553252 3 12.053303 3 12.053303 4...,1 15.255033 3 9.288092 3 9.288092 4...,1 17.053141 3 13.668032 3 13.668032 4...,1 1420.644653 3 1269.569824 3 1269.56...
1,1 1 2 1 3 1 4 1 5 1 Name: Activ...,1 34.685898 2 37.337872 3 40.455601 4...,1 22.220945 2 21.589624 3 21.616926 4...,1 2.462168 2 1.391495 3 1.325296 4 ...,1 13.864830 2 9.501967 3 9.993431 4...,1 15.553199 2 10.985843 3 12.053303 4...,1 15.255033 2 9.530611 3 9.288092 4...,1 17.053049 2 14.616776 3 13.667987 4...,1 1420.174194 2 830.334900 3 1269.58...
2,1 1 2 1 3 1 4 1 5 1 Name: Activ...,1 29.341364 2 28.590557 3 30.905519 4...,1 22.206486 2 21.445618 3 21.338923 4...,1 2.462165 2 1.391495 3 1.325296 4 ...,1 13.876937 2 9.501467 3 9.990005 4...,1 15.553102 2 10.985843 3 12.053311 4...,1 15.255131 2 9.530628 3 9.288074 4...,1 17.053156 2 14.616941 3 13.668042 4...,1 1420.810181 2 830.176880 3 1269.56...
3,1 1 2 1 3 1 4 1 5 1 Name: Activ...,1 26.096825 2 21.587667 3 24.767302 4...,1 22.215860 2 21.514320 3 21.485994 4...,1 2.462158 2 1.391495 3 1.325296 4 ...,1 13.866216 2 9.501919 3 9.993064 4...,1 15.553199 2 10.985843 3 12.053311 4...,1 15.255025 2 9.530611 3 9.288092 4...,1 17.053162 2 14.616941 3 13.668042 4...,1 1420.258423 2 830.307556 3 1269.57...
4,1 1 2 1 3 1 4 1 5 1 Name: Activ...,1 22.569820 2 19.897224 3 25.959349 4...,1 22.226105 2 21.577227 3 21.583187 4...,1 2.462158 2 1.391495 3 1.325296 4 ...,1 13.864927 2 9.501927 3 9.993417 4...,1 15.553306 2 10.985843 3 12.053311 4...,1 15.255077 2 9.530628 3 9.288092 4...,1 17.052984 2 14.616684 3 13.667970 4...,1 1420.233887 2 830.315186 3 1269.58...
...,...,...,...,...,...,...,...,...,...
21016,1 13 2 13 3 13 4 13 5 13 Name: ...,1 54.509979 2 52.364143 3 57.447903 4...,1 8.036613 2 9.951884 3 9.921907 4 ...,1 1.769163 2 2.514387 3 1.245025 4 ...,1 69.211021 2 74.004463 3 71.000847 4...,1 77.344788 2 73.622818 3 73.841568 4...,1 38.549812 2 36.847607 3 37.036831 4...,1 23.514528 2 25.063639 3 24.148682 4...,1 1861.716919 2 1830.410156 3 2019.06...
21017,1 13 2 13 3 13 4 13 5 13 Name: ...,1 56.243111 2 57.256908 3 62.212067 4...,1 7.325658 2 8.504649 3 8.400362 4 ...,1 0.221905 2 0.079806 3 0.000000 4 ...,1 52.811295 2 52.992378 3 53.185230 4...,1 77.343727 2 73.622879 3 73.841522 4...,1 38.549099 2 36.847572 3 37.036839 4...,1 23.515657 2 25.065397 3 24.150091 4...,1 1861.776611 2 1830.410156 3 2019.06...
21018,1 13 2 13 3 13 4 13 5 13 Name: ...,1 56.270958 2 58.095982 3 63.058064 4...,1 7.625242 2 9.059948 3 9.060991 4 ...,1 0.836684 2 0.576939 3 0.093084 4 ...,1 51.916191 2 49.209694 3 47.081608 4...,1 77.344528 2 73.622818 3 73.841553 4...,1 38.549828 2 36.847626 3 37.036839 4...,1 25.0 2 18.0 3 26.0 4 27.0 5 2...,1 1861.758301 2 1830.414673 3 2019.06...
21019,1 13 2 13 3 13 4 13 5 13 Name: ...,1 54.155865 2 53.328136 3 58.987885 4...,1 7.767079 2 8.801653 3 8.362076 4 ...,1 0.395951 2 0.309687 3 1.417654 4 ...,1 66.023720 2 70.654793 3 69.068062 4...,1 77.344917 2 73.622818 3 73.841568 4...,1 38.550377 2 36.847660 3 37.036839 4...,1 27.0 2 24.0 3 24.0 4 25.0 5 2...,1 1861.798096 2 1830.413208 3 2019.06...
21020,1 13 2 13 3 13 4 13 5 13 Name: ...,1 51.397923 2 43.892193 3 48.317429 4...,1 7.875149 2 9.054118 3 8.715676 4 ...,1 0.021448 2 0.222467 3 0.030750 4 ...,1 71.417656 2 77.172676 3 74.216797 4...,1 77.340065 2 73.623123 3 73.841476 4...,1 38.549644 2 36.847614 3 37.036831 4...,1 23.0 2 21.0 3 18.0 4 20.0 5 1...,1 1861.768921 2 1830.410156 3 2019.06...

In [19]:
y = []
for i in range(0, 21021):
    y.append(X_nested.Activity[i].iloc[0])

In [20]:
print(len(y))

21021

In [21]:
y

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [22]:
del X_nested['Activity']

In [23]:
X_nested

,Humidity,Temperature,Speed,PM2.5,PM1.0,PM10,NO2,BC
0,1 33.150299 3 34.401165 3 37.415337 4...,1 22.197498 3 21.357515 3 21.357515 4...,1 2.462158 3 1.325296 3 1.325296 4 ...,1 13.870337 3 9.991866 3 9.991866 4...,1 15.553252 3 12.053303 3 12.053303 4...,1 15.255033 3 9.288092 3 9.288092 4...,1 17.053141 3 13.668032 3 13.668032 4...,1 1420.644653 3 1269.569824 3 1269.56...
1,1 34.685898 2 37.337872 3 40.455601 4...,1 22.220945 2 21.589624 3 21.616926 4...,1 2.462168 2 1.391495 3 1.325296 4 ...,1 13.864830 2 9.501967 3 9.993431 4...,1 15.553199 2 10.985843 3 12.053303 4...,1 15.255033 2 9.530611 3 9.288092 4...,1 17.053049 2 14.616776 3 13.667987 4...,1 1420.174194 2 830.334900 3 1269.58...
2,1 29.341364 2 28.590557 3 30.905519 4...,1 22.206486 2 21.445618 3 21.338923 4...,1 2.462165 2 1.391495 3 1.325296 4 ...,1 13.876937 2 9.501467 3 9.990005 4...,1 15.553102 2 10.985843 3 12.053311 4...,1 15.255131 2 9.530628 3 9.288074 4...,1 17.053156 2 14.616941 3 13.668042 4...,1 1420.810181 2 830.176880 3 1269.56...
3,1 26.096825 2 21.587667 3 24.767302 4...,1 22.215860 2 21.514320 3 21.485994 4...,1 2.462158 2 1.391495 3 1.325296 4 ...,1 13.866216 2 9.501919 3 9.993064 4...,1 15.553199 2 10.985843 3 12.053311 4...,1 15.255025 2 9.530611 3 9.288092 4...,1 17.053162 2 14.616941 3 13.668042 4...,1 1420.258423 2 830.307556 3 1269.57...
4,1 22.569820 2 19.897224 3 25.959349 4...,1 22.226105 2 21.577227 3 21.583187 4...,1 2.462158 2 1.391495 3 1.325296 4 ...,1 13.864927 2 9.501927 3 9.993417 4...,1 15.553306 2 10.985843 3 12.053311 4...,1 15.255077 2 9.530628 3 9.288092 4...,1 17.052984 2 14.616684 3 13.667970 4...,1 1420.233887 2 830.315186 3 1269.58...
...,...,...,...,...,...,...,...,...
21016,1 54.509979 2 52.364143 3 57.447903 4...,1 8.036613 2 9.951884 3 9.921907 4 ...,1 1.769163 2 2.514387 3 1.245025 4 ...,1 69.211021 2 74.004463 3 71.000847 4...,1 77.344788 2 73.622818 3 73.841568 4...,1 38.549812 2 36.847607 3 37.036831 4...,1 23.514528 2 25.063639 3 24.148682 4...,1 1861.716919 2 1830.410156 3 2019.06...
21017,1 56.243111 2 57.256908 3 62.212067 4...,1 7.325658 2 8.504649 3 8.400362 4 ...,1 0.221905 2 0.079806 3 0.000000 4 ...,1 52.811295 2 52.992378 3 53.185230 4...,1 77.343727 2 73.622879 3 73.841522 4...,1 38.549099 2 36.847572 3 37.036839 4...,1 23.515657 2 25.065397 3 24.150091 4...,1 1861.776611 2 1830.410156 3 2019.06...
21018,1 56.270958 2 58.095982 3 63.058064 4...,1 7.625242 2 9.059948 3 9.060991 4 ...,1 0.836684 2 0.576939 3 0.093084 4 ...,1 51.916191 2 49.209694 3 47.081608 4...,1 77.344528 2 73.622818 3 73.841553 4...,1 38.549828 2 36.847626 3 37.036839 4...,1 25.0 2 18.0 3 26.0 4 27.0 5 2...,1 1861.758301 2 1830.414673 3 2019.06...
21019,1 54.155865 2 53.328136 3 58.987885 4...,1 7.767079 2 8.801653 3 8.362076 4 ...,1 0.395951 2 0.309687 3 1.417654 4 ...,1 66.023720 2 70.654793 3 69.068062 4...,1 77.344917 2 73.622818 3 73.841568 4...,1 38.550377 2 36.847660 3 37.036839 4...,1 27.0 2 24.0 3 24.0 4 25.0 5 2...,1 1861.798096 2 1830.413208 3 2019.06...
21020,1 51.397923 2 43.892193 3 48.317429 4...,1 7.875149 2 9.054118 3 8.715676 4 ...,1 0.021448 2 0.222467 3 0.030750 4 ...,1 71.417656 2 77.172676 3 74.216797 4...,1 77.340065 2 73.623123 3 73.841476 4...,1 38.549644 2 36.847614 3 37.036831 4...,1 23.0 2 21.0 3 18.0 4 20.0 5 1...,1 1861.768921 2 1830.410156 3 2019.06...

In [24]:
from sklearn.model_selection import train_test_split
from sktime.classification.compose import TimeSeriesForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X_nested, y)
X_train.reset_index(inplace = True, drop = True)

In [26]:
print(X_train.shape)

(15765, 8)

In [29]:
print(pd.Series(y_train).shape)

(15765,)

In [31]:
from sktime.classification.interval_based import TimeSeriesForestClassifier

In [35]:
from sklearn.metrics import pairwise_distances_chunked
from sklearn.neighbors import KNeighborsClassifier as _KNeighborsClassifier
from sklearn.neighbors._base import _check_weights, _get_weights
from sklearn.utils.extmath import weighted_mode
from sklearn.utils.multiclass import check_classification_targets
from sklearn.utils.validation import check_array